.maincontent{
    display: flex;
    flex-direction: row;
    height: 100%;
   
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width:90%;
}
.sideMenuHome{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 5px 5px 5px rgb(225, 241, 249);
    border: 2px solid rgb(239, 239, 239);
    border-radius: 10px;
   
    width:12%;
   
}
.lastAds_secte{
    display: flex;
    flex-direction: column;
    height: 100%;
   
    width:100%;
   

}
.lastAds_title{
    color: #525151;
    font-size: 30px;
    margin-top: 10px;
}
.sectforcardss{
    
    max-height: 19%;
    
    width:100%;
   
}
#bodys{
    margin-top: 30px;
}


.connAside{
    margin-bottom: 50px;
}

@media screen and (min-width: 1000px){

    .sectforcardss{
    
        max-height: 19%;
        background-color: #f8f86200;
        width:100%;
       
    }
   
    .ads-cardss{
        width:20%;
        max-height: 19%;
        background:white;
        border-radius: 10px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
        cursor: pointer;
    }
    .searchBarhome{
        margin-top: 10px;
    }
   
  
  }